html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-family: 'Roboto';
}

h1, h2 {
  font-weight: 700;
}

p {
  font-weight: 100;
}

body {
  height: 100vh;
}

.loader__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.loader {
  height: 50px;
  width: 50px;
  border: 3px solid rgba(153, 226, 208, 0.4);
  border-radius: 50px;
  position: relative;
  margin: 0 10px;
}

.loader::after {
  content: '';
  height: 50px;
  width: 50px;
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border: 3px solid transparent;
  border-radius: 50px;
  border-top-color: #99E2D0;
  -webkit-animation: Spin 1s linear 0s infinite;
          animation: Spin 1s linear 0s infinite;
}

.Logo {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .Logo {
    height: 70px;
  }
}

.Logo a {
  text-decoration: none;
  color: #000;
}

.Logo i {
  margin: 0 12px;
}

@media screen and (min-width: 768px) {
  .Logo i {
    font-size: 24px;
    margin: 0 18px;
  }
}

.Logo img {
  height: 24px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .Logo img {
    height: 35px;
  }
}

.localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  background: #eaeaea;
  font-size: 15px;
}

@media screen and (min-width: 768px) {
  .localisation {
    height: 50px;
    font-size: 20px;
  }
}

.localisation p {
  padding: 0 20px 0 15px;
}

.btn__btn {
  border: none;
  border-radius: 25px;
  background: linear-gradient(359deg, #9356DC, #FF79DA);
  padding: 12px;
  color: white;
}

@media screen and (min-width: 768px) {
  .btn__btn {
    font-size: 18px;
  }
}

.btn__btn:hover {
  -webkit-box-shadow: 0 0 10px 0 #000;
          box-shadow: 0 0 10px 0 #000;
  opacity: 0.9;
}

#decouverte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 220px;
  width: 100%;
  background: #f2f2f2;
}

@media screen and (min-width: 768px) {
  #decouverte {
    height: 280px;
  }
}

#decouverte h1 {
  font-size: 20px;
  text-align: center;
  width: 52%;
}

@media screen and (min-width: 768px) {
  #decouverte h1 {
    font-size: 22px;
  }
}

#decouverte p {
  font-size: 18px;
  text-align: center;
  width: 75%;
}

@media screen and (min-width: 768px) {
  #decouverte p {
    font-size: 20px;
  }
}

#fonctionnement {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#fonctionnement h1 {
  font-size: 20px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media screen and (min-width: 768px) {
  #fonctionnement h1 {
    font-size: 22px;
  }
}

#fonctionnement .fonctionnement__card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: 100%;
  margin: 20px 0 0 0;
  background: #f2f2f2;
  border-radius: 25px;
  -webkit-box-shadow: 0 0 10px -5px #000;
          box-shadow: 0 0 10px -5px #000;
}

@media screen and (min-width: 768px) {
  #fonctionnement .fonctionnement__card {
    max-width: 768px;
    width: 85%;
  }
}

#fonctionnement .fonctionnement__card:hover {
  background: rgba(147, 86, 220, 0.2);
  -webkit-transition: .5s;
  transition: .5s;
}

#fonctionnement .fonctionnement__card:hover i {
  color: #9356DC;
}

#fonctionnement .fonctionnement__card div {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  margin: 0 0 0 -8px;
  color: white;
  font-size: 13px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #9356DC;
}

@media screen and (min-width: 768px) {
  #fonctionnement .fonctionnement__card div {
    height: 30px;
    width: 30px;
    font-size: 17px;
  }
}

#fonctionnement .fonctionnement__card i {
  font-size: 14px;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  #fonctionnement .fonctionnement__card i {
    font-size: 18px;
  }
}

#fonctionnement .fonctionnement__card h2 {
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  #fonctionnement .fonctionnement__card h2 {
    font-size: 20px;
  }
}

#restaurant {
  padding: 20px;
  background: #f2f2f2;
}

#restaurant h1 {
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  #restaurant h1 {
    font-size: 22px;
  }
}

#restaurant .restaurant__link {
  position: relative;
  text-decoration: none;
  color: #000;
}

@media screen and (min-width: 768px) {
  #restaurant .restaurant__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    width: 65%;
  }
}

@media screen and (min-width: 998px) {
  #restaurant .restaurant__link {
    width: 50%;
  }
}

#restaurant .restaurant__link article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px 0;
  height: 240px;
  max-width: 425px;
  -webkit-box-shadow: 0 0 10px -5px #000;
          box-shadow: 0 0 10px -5px #000;
  border-radius: 15px;
}

@media screen and (min-width: 768px) {
  #restaurant .restaurant__link article {
    position: relative;
    height: 280px;
    max-width: 768px;
    width: 100%;
  }
}

@media screen and (min-width: 998px) {
  #restaurant .restaurant__link article {
    width: 100%;
  }
}

#restaurant .restaurant__link article img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 180px;
  width: 100%;
  border-radius: 15px 15px 0 0;
}

@media screen and (min-width: 768px) {
  #restaurant .restaurant__link article img {
    height: 200px;
  }
}

#restaurant .restaurant__nouveau {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 18px;
  padding: 3px 5px;
  max-width: 60px;
  background: #99E2D0;
}

#restaurant .restaurant__nouveau p {
  color: #32CD32;
  text-align: center;
}

#restaurant .restaurant__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#restaurant .restaurant__container .restaurant__description {
  position: relative;
  padding: 12px 10px;
  width: 80%;
}

@media screen and (min-width: 768px) {
  #restaurant .restaurant__container .restaurant__description {
    font-size: 22px;
  }
}

#restaurant .restaurant__container .restaurant__description h2 {
  font-size: 16px;
  margin-bottom: 4px;
}

@media screen and (min-width: 768px) {
  #restaurant .restaurant__container .restaurant__description h2 {
    font-size: 22px;
    margin-bottom: 6px;
  }
}

#restaurant .restaurant__container .anim__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
}

@media screen and (min-width: 768px) {
  #restaurant .restaurant__container .anim__icon {
    font-size: 22px;
  }
}

#restaurant .restaurant__container .anim__icon i {
  position: relative;
}

#restaurant .restaurant__container .anim__icon:hover i {
  opacity: 0;
}

#restaurant .restaurant__container .anim__icon:hover .svg__anim {
  -webkit-animation: HeartAnim 800ms ease-in;
          animation: HeartAnim 800ms ease-in;
  fill: #9356DC;
}

#restaurant .restaurant__container .anim__icon .svg__anim {
  position: absolute;
  height: 20px;
  fill: transparent;
}

.background_img {
  position: relative;
  width: 100%;
  z-index: -1;
}

.background_img img {
  height: 100%;
  width: 100%;
}

#menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #f3f3f3;
  padding: 20px;
  margin-top: -70px;
  z-index: 2;
  overflow: visible;
  border-radius: 25px 25px 0 0;
}

@media screen and (min-width: 768px) {
  #menu {
    margin-top: -150px;
    padding: 40px;
  }
}

#menu .menu__titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
}

@media screen and (min-width: 768px) {
  #menu .menu__titre {
    font-size: 40px;
  }
}

#menu h1 {
  font-family: 'Shrikhand';
  font-size: 26px;
}

@media screen and (min-width: 768px) {
  #menu h1 {
    font-size: 40px;
  }
}

#menu .animation__icon .coeur_anim {
  position: relative;
}

#menu .animation__icon .svg__anim {
  position: absolute;
  right: 20px;
  height: 24px;
  fill: transparent;
}

@media screen and (min-width: 768px) {
  #menu .animation__icon .svg__anim {
    height: 40px;
    right: 40px;
  }
}

#menu .animation__icon:hover .coeur_anim {
  opacity: 0;
}

#menu .animation__icon:hover .svg__anim {
  -webkit-animation: HeartAnim 800ms ease-in-out;
          animation: HeartAnim 800ms ease-in-out;
  fill: #9356DC;
}

.menu__container {
  margin: 12px 0;
}

.menu__container span {
  display: inline-block;
  padding: 0 0 6px 0;
  width: 12%;
  border-bottom: 3px solid #99E2D0;
  font-size: 18px;
  text-transform: uppercase;
  margin: 26px 0 0 0;
}

@media screen and (min-width: 768px) {
  .menu__container span {
    font-size: 24px;
    width: 8%;
  }
}

@media screen and (min-width: 998px) {
  .menu__container span {
    width: 4%;
  }
}

.menu__container .AnimE {
  -webkit-animation: menu__anim 1.5s ease-in;
          animation: menu__anim 1.5s ease-in;
}

.menu__container .AnimP {
  -webkit-animation: menu__anim 2s ease-in;
          animation: menu__anim 2s ease-in;
}

.menu__container .AnimD {
  -webkit-animation: menu__anim 2.5s ease-in;
          animation: menu__anim 2.5s ease-in;
}

.menu__container article {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 14px 0;
  height: 70px;
  -webkit-box-shadow: 0 0 10px -5px #000;
          box-shadow: 0 0 10px -5px #000;
  border-radius: 15px;
}

@media screen and (min-width: 768px) {
  .menu__container article {
    height: 90px;
  }
}

.menu__container article:hover .menu__ingredient, .menu__container article:hover h2 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 230px;
}

@media screen and (min-width: 768px) {
  .menu__container article:hover .menu__ingredient, .menu__container article:hover h2 {
    width: 400px;
  }
}

.menu__container article:hover .success__order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: 80px;
  -webkit-animation: SlideIn 800ms ease-in-out;
          animation: SlideIn 800ms ease-in-out;
  border-radius: 0 15px 15px 0;
  background-color: #99E2D0;
}

@media screen and (min-width: 768px) {
  .menu__container article:hover .success__order {
    height: 90px;
    width: 150px;
  }
}

.menu__container article:hover .check__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: white;
  -webkit-animation: IconRotation 800ms ease-in;
          animation: IconRotation 800ms ease-in;
}

.menu__container article:hover .check__icon .check__order {
  color: #99E2D0;
}

.menu__container .blabla {
  width: 100%;
  padding: 10px;
  white-space: nowrap;
}

@media screen and (min-width: 768px) {
  .menu__container .blabla {
    padding: 16px;
  }
}

.menu__container .blabla h2 {
  font-size: 20px;
  margin: 0 0 10px 0;
}

@media screen and (min-width: 768px) {
  .menu__container .blabla h2 {
    font-size: 24px;
  }
}

.menu__container .blabla .menu__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .menu__container .blabla .menu__description {
    font-size: 22px;
  }
}

.menu__container .blabla .menu__description .menu__prix {
  font-weight: 800;
  margin: 0 10px;
}

.menu__container .success__order {
  display: none;
}

.btn__btn__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn__btn__container .btn__btn {
  padding: 14px;
  font-size: 18px;
}

.btn__btn__container .btn__btn:hover .btn__btn {
  -webkit-box-shadow: 0 0 10px 0 #000;
          box-shadow: 0 0 10px 0 #000;
}

@media screen and (min-width: 768px) {
  .btn__btn__container .btn__btn {
    font-size: 22px;
  }
}

@-webkit-keyframes menu__anim {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes menu__anim {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes SlideIn {
  0% {
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
    width: 0%;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes SlideIn {
  0% {
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
    width: 0%;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes IconRotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes IconRotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes HeartAnim {
  0% {
    opacity: 0.10;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.50;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes HeartAnim {
  0% {
    opacity: 0.10;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.50;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes Spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes Spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

footer {
  height: 185px;
  padding: 20px;
  background: #323031;
}

@media screen and (min-width: 768px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer p {
  font-family: 'Shrikhand';
  color: white;
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  footer p {
    font-size: 32px;
  }
}

footer .footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 14px 0;
  color: white;
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  footer .footer__link {
    font-size: 24px;
  }
}

footer a {
  text-decoration: none;
  color: white;
}

footer .footer__icon {
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  footer .footer__icon {
    font-size: 24px;
  }
}

footer .footer__icon i {
  font-size: 12px;
  color: white;
}

@media screen and (min-width: 768px) {
  footer .footer__icon i {
    font-size: 20px;
  }
}
/*# sourceMappingURL=style.css.map */